*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f2f5f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    background-color: #333;
}
#loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: #fff url(1490.gif);
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    max-height: 8vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    /* position: sticky; */
    top: 0;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 6vh;
    /* width: 5rem; */
    border-radius: 50%;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 2s;  
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
    border-bottom: 3px solid #61DAFB;
}
/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background-color: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: sticky;
        top: 0%;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 4%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        top: 0;
        background: #333;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.slidercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    animation: slider 5s infinite linear;
}
@keyframes slider{
    0%{
        background-image: url(img1.jpg);
    }
    25%{
        background-image: url(img2.jpg);
    }
    50%{
        background-image: url(img3.jpg);
    }
    75%{
        background-image: url(img4.jpg);
    }

}

.box{
    background-color: rgb(72, 70, 70,0.8);
    width: 80%;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}
.box h1{
    color: yellow;
    font-weight: bold;
    letter-spacing: 0.5rem;
    font-size: 2.4rem    
}
.box h2{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.btn {
    color: #fff;
    background-color: #3a6cf4;
    font-size: 1em;
    font-weight: 900;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.5s ease;
 }
 .about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .aboutbox{
     width: 100%;
 }
 @media(max-width: 1250px){
     .about{
        height: 100%;
     }
     .myskills{
        height: 100%;
     }
     .project{
        height: 100%;
     }
     .skillstext{
        margin: auto;
     }
     .skills{
        margin: auto;
     }
 }
 .about h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 8vh;
}
.aboutbox h1{
    padding: 20px 0px;
}
 .aboutbox{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     /* background-color: blue; */
     margin-top: 18px;
 }
 .imagebox{
     width: 300px;
     /* background-color: black; */
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .imagebox img{
     width: 100%;
 }
 .textbox{
     width: 700px;
     padding: 20px;
     /* background-color: red; */
     
 }
 .textbox h1{
     text-align: left;
     color: #fff;
 }
.textbox p{
    color: #fff;
    margin: 12px 0;
    font-size: 18px;
}
@media (max-width: 900px) {
    .imagebox{
        width: 400px;
        padding: 12px;

    }
    .textbox{
        width: 100%;
    }
    
}
.myskills{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.myskillbox{
    width: 100%;

}
.myskills h1{
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-top: 8vh;
}
.skillscontainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px 0 12px;
  }
.skillflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.skillstext{
    width: 500px;
    /* border: 1.5px solid black; */
    padding: 50px 0 50px 0;
}
.skillstext h1{
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 0;
}
.skillstext p{
    color: #fff;
    margin-top: 20px;
}
.skills{
    width: 500px;
}
.skills p{
    color: #fff;
}
.skill-container{
  width: 100%;
  margin: auto;
  background: #ddd;
  /* border: 1px solid black; */
}
.skill{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html{
  width: 90%;
  background-color: #4CAF50;
}
.css{
  width: 80%;
  background-color: #2196F3;
}
.js{
  width: 85%;
  background-color: #F44336;
}
.c{
  width: 80%;
  background-color: #808080;
}
@media only screen and (max-width: 760px) {
  .container{
    width: 96%;
  }
}
.project{
  height: 100%;
}
.project h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 8vh 0 4vh 0;
}
.projectflex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.projectbox{
    width: 310px;
    margin: 22px;
    text-align: center;
}
.projectbox img{
    width: 100%;
    height: 100%;
    border-radius: 155px 0 155px 0;
}
.projectbox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.contact h1{
    color: #fff;
    text-align: center;
    padding: 8vh 0 4vh 0;
    font-weight: bold;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.card{
    background: #333;
    width: 300px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.contact-icon{
    font-size: 4em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(31, 253, 253);
    font-weight: bold;
    margin: 10px;
}
.info span{
    color: #666;
    font-weight: 500;
}
.contact-form{
    background: #333;
    max-width: 600px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.contact-form h3{
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    width: 100%;
    margin-bottom: 20px;
}
.input-box input,textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    resize: none;
    background-color: #333;
}
.input-box .send-btn{
    color: #fff;
    background-color: #3a6cf4;
    outline: none;
    border: none;
    width: 100%;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
footer{
    margin-top: 50px;
    background-color: rgba(0,0,0);
    padding: 12px;
}
footer p{
    text-align: center;
    font-size: 22px;
}
::-webkit-scrollbar{
    width: 15px;
}
/* ::-webkit-scrollbar-track{
} */
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 12px;
    background-color: #AAAAAA;
  }
